<div
  role="status"
  class="space-y-8 max-w-lg animate-pulse md:space-y-0 md:space-x-8 rtl:space-x-reverse flex gap-4 md:items-center"
>
  <div>
    <div
    class=" rounded-full w-28 h-28 bg-gray-300  dark:bg-gray-700"
  ></div>
  </div>
  <div class="w-full">
    <div class="h-6 bg-gray-200 rounded-sm dark:bg-gray-700 w-48 mb-4"></div>
    <div
      class="h-4 bg-gray-200 rounded-sm dark:bg-gray-700 max-w-[480px] mb-2.5"
    ></div>
    <div class="h-4 bg-gray-200 rounded-sm dark:bg-gray-700 mb-2.5"></div>
    <div
      class="h-4 bg-gray-200 rounded-sms dark:bg-gray-700 max-w-[440px] mb-2.5"
    ></div>
    <div
      class="h-4 bg-gray-200 rounded-sms dark:bg-gray-700 max-w-[440px] mb-2.5"
    ></div>
    
  </div>
  <span class="sr-only">Loading...</span>
</div>
